.df-card-controls {
  padding: 4px;
  text-align: left;
}

.PropertyCardContainer__container + .df-controls-wrapper .df-card-controls {
  margin-top: -40px;
  margin-bottom: 40px;
}

.box + .df-controls-wrapper .df-card-controls {
  margin-top: -10px;
  margin-bottom: 20px;
}

.PropertyCardContainer__container .df-card-controls {
  padding-left: 32px;
  padding-bottom: 16px;
}

.FeaturedCardPropertyInformation__detailsContainer .df-card-controls {
  padding-left: 0px;
  transform: translateY(16px);
}

.df-global-controls {
  background: #fcfae1;
  border: 1px solid #dfdfdf;
  border-top: 0px none;
  padding: 10px 20px 10px;
}

.df-price-history {
  background-color: #fcfae1;
  display: inline-block;
  padding: 4px;
}

.df-button {
  cursor: pointer;
  background: #eff3fa;
  border: 1px solid #dfdfdf;
  color: #2b54ab;
  display: inline-block;
  font: 400 11px system-ui;
  padding: 4px 8px;
  text-decoration: none;
}

.df-hidden {
  display: none !important;
  transform: scale(0.97) !important;
}

.df-hidden-disabled .df-hidden {
  display: block !important;
}

.df-hidden + .df-controls-wrapper {
  display: none;
}

.df-hidden-disabled .df-hidden + .df-controls-wrapper {
  display: block !important;
}

.df-notes-container {
  overflow: hidden;
  margin-top: 8px;
  transition: height 0.3s linear;
  height: 0px;
}

.df-notes-container textarea {
  resize: none;
}

.df-notes-container.shown {
  border-bottom: 1px solid #ededed;
  display: block;
  height: 81px;
}

.df-notes-container .df-notes-inner {
  background-color: #fcfae1;
  padding: 8px;
}

#pbxl_photo_carousel {
  transform: scale(1.6) translateY(80px) translateX(60px);
}

ul.paging li {
  display: none;
}
