.df-card-controls {
  padding: 4px;
  text-align: left;
}

.PropertyCardContainer__container .df-card-controls {
  padding-left: 32px;
  padding-bottom: 16px;
}

.FeaturedCardPropertyInformation__detailsContainer .df-card-controls {
  padding-left: 0px;
  transform: translateY(16px);
}

.df-global-controls {
  background: #fcfae1;
  border: 1px solid #dfdfdf;
  border-top: 0px none;
  padding: 10px 20px 10px;
}

.df-price-history {
  background-color: #fcfae1;
  display: inline-block;
  padding: 4px;
}

.PropertyCardContainer__container .df-price-history {
  margin-left: 32px;
}

.df-price-history-list {
  text-align: left;
}

.df-price-history-list td {
  padding-right: 8px;
}

.df-price-history-header {
  font-weight: bold;
}

.df-button {
  cursor: pointer;
  background: #eff3fa;
  border: 1px solid #dfdfdf;
  color: #2b54ab;
  display: inline-block;
  font: 400 11px system-ui;
  padding: 4px 8px;
  text-decoration: none;
}

.df-hidden {
  display: none !important;
  transform: scale(0.97) !important;
}

.df-hidden-disabled .df-hidden {
  display: block !important;
}

.df-notes-container {
  overflow: hidden;
}

.df-notes-container textarea {
  resize: none;
}

.box .df-notes-container {
  display: none;
}

.box .df-notes-container.shown {
  min-height: 50px;
  display: block;
}

.df-notes-container .df-notes-inner {
  background-color: #fcfae1;
  padding: 8px;
}

#sr_content .box {
  position: relative;
}

.PropertyCardContainer__container .df-notes-container {
  border: 1px solid #ededed;
  border-top: 0px none;
  border-bottom: 0px none;
  transition: height 0.3s linear;
  height: 0px;
}

.PropertyCardContainer__container .df-notes-container.shown {
  border-bottom: 1px solid #ededed;
  height: 81px;
}

#sr_content .box .df-notes-inner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#pbxl_photo_carousel {
  transform: scale(1.7) translateY(80px) translateX(60px);
}
